@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: alansans, roboto, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    padding: 30px;
}

#container {
    background-color: white;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 600px;
}

section {
    margin-bottom: 10px;
    border: solid 1px #ddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

#name-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

#name-section input {
    width: 80%;
    margin-top: 8px;

}

section label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 16px;    
}

input, select {
    background-color: rgb(0, 120, 255,0.3);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
}

#gender-section{
    display: flex;
    flex-direction: column;
}

#residence-section div, #gender-section div{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#residence-section label, #gender-section label{
    background-color: rgb(0, 120, 255,0.3);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}


/* Hide the actual radio input */
#residence-section  input[type="radio"],#gender-section input[type="radio"] {
    position: absolute;
    opacity: 0;
}

#gender-section input[type = "radio"]:checked + label {
    background-color: #ff0000;
    color: white;
}


#gender-section legend{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

#residence-section{

}

#buttons-section {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 100%;
}

button[type="submit"] {
    background-color: #0078ff;
    color: white;
}

button[type="reset"] {
    background-color: #777;
    color: white;
}

button:hover {
    opacity: 0.8;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
