@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: alansans, roboto, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    padding: 30px;
}

#container {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 600px;
}

section {
    margin-bottom: 10px;
    border: solid 1px #ddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

#name-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

#name-section input {
    width: 80%;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="file"],
select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
}

/* Radio buttons spacing */
fieldset label {
    margin-right: 20px;
}

/* Buttons */
button {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #0078ff;
    color: white;
}

button[type="reset"] {
    background-color: #777;
    color: white;
}

button:hover {
    opacity: 0.8;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
